!!!
html
    head(lang='en')
        title Sassdoc
        block meta
            meta(name='viewport', content='width=device-width, initial-scale=1.0')
        block js
            script(src="http://code.jquery.com/jquery-1.9.1.min.js")
            script(src="/bootstrap/js/bootstrap.min.js")
            script(src="/google-code-prettify/prettify.js")
            script(src="/google-code-prettify/lang-scss.js")
            script(src="/javascript/jquery.throttle.min.js")
        block css
            link(href="/google-code-prettify/prettify.css", rel="stylesheet",  type="text/css")
            link(rel="stylesheet", type="text/css", href="/bootstrap/css/bootstrap.min.css")
            link(rel="stylesheet", type="text/css", href="/bootstrap/css/bootstrap-responsive.min.css")
            link(rel="stylesheet", type="text/css", href="/stylesheets/index.css")
    body
        div.container-fluid
            div.row-fluid
                div.span12.header
                    block header
            
            div.row-fluid
                div.span3.sidebar-container
                    div.sidebar(data-spy='affix', data-offset-top='61')
                        block sidebar

                div.span9.content
                    block content

            div.footer
                block footer
                    p Sassdoc is an open source nodejs project.
                    p
                        | You can find 
                        a(href='https://github.com/middric/sassdoc') the source on GitHub.
                        br
                        |  If you have any feedback or want to contribute to the project, go ahead and  
                        a(href='https://github.com/middric/sassdoc/issues') open an issue
                        |  or submit a pull request.
                    
                    script(type="text/javascript")
                        function affixWidth() {
                            var affix = $('.sidebar');
                            var width = affix.parent('div').width();
                            affix.width(width);

                            if ($(window).height() < affix.height()) {
                                affix.removeClass('affix');
                            }
                        }

                        function iframeHeight() {
                            $('iframe').each(function () {
                                $(this).height($('#markup', $(this).contents()).outerHeight() + 40);
                            });
                        }

                        $(document).ready(function () {
                            affixWidth();
                            window.prettyPrint && prettyPrint()
                        });

                        $(window).resize($.throttle(100,
                            function () {
                                affixWidth();
                                iframeHeight();
                            })
                        );