!!!
html
    head(lang='en')
        title SassDoc
        block meta
            meta(name='viewport', content='width=device-width, initial-scale=1.0')
        block js
            script(src="http://code.jquery.com/jquery-1.9.1.min.js")
            script(src="/bootstrap/js/bootstrap.min.js")
            script(src="/google-code-prettify/prettify.js")
        block css
            link(href="/google-code-prettify/prettify.css", rel="stylesheet",  type="text/css")
            link(rel="stylesheet", type="text/css", href="/bootstrap/css/bootstrap.min.css")
            link(rel="stylesheet", type="text/css", href="/bootstrap/css/bootstrap-responsive.min.css")
            link(rel="stylesheet", type="text/css", href="/stylesheets/index.css")
    body
        div.container-fluid
            div.header
                block header
            
            div.row-fluid
                div.span3.sidebar-container
                    div.sidebar(data-spy='affix')
                        block sidebar

                div.span9.content
                    block content

            div.footer
                block footer
                    script(type="text/javascript")
                        function affixWidth() {
                            var affix = $('.sidebar');
                            var width = affix.width();
                            affix.width(width);
                        }

                        $(document).ready(function () {
                            affixWidth();
                            window.prettyPrint && prettyPrint()
                        });