<!DOCTYPE html>
<html>
	<head>
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="http://yandex.st/highlightjs/7.2/highlight.min.js"></script>
		<link href="http://yandex.st/highlightjs/7.2/styles/github.min.css" rel="stylesheet"  type="text/css" />
		<link href="http://static.bbci.co.uk/frameworks/barlesque/2.44.2/orb/4/style/orb-ie.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="stylesheets/index.css" />
	</head>
	<body>
		<div id="tviplayer">
			<% for(var i=0; i < variables.length; i++) { %>
			<div id="styleguide-content">
				<div id="styleguide-item-header">
					<h1><%= variables[i].name %></h1>
				</div>

				<h2>Sass</h2>
				<pre><code class="css"><%= variables[i].sass %></code></pre>
				<% if (variables[i].isColor) { %>
				<div class="styleguide-markup">
					<iframe width="100%" seamless srcdoc="<style>body {background: <%- variables[i].value %>}</style><%- variables[i].value %>"></iframe>
				</div>
				<% } %>
			</div>
			<% } %>
		</div>
		<script type="text/javascript">
			$('iframe').load(function () {
				$(this).height($('#markup',$(this).contents()).height());
			})
			$('pre').each(function (i, e) {
				hljs.highlightBlock(e);
			})
		</script>
	</body>
</html>