/**
 * @component
 * @name Test
 * @import anotherfile
 * @external anothercss
 * <body>
 *     The body
 * </body>
 */
@mixin test {
	$color: red;
	body {
		background: $color;
	}
}

/**
 * @component
 * @name Test
 * <body>
 *     The body
 * </body>
 */
.anothertest {
	$color: red;
	body {
		background: $color;
	}
}

/**
 * @variable
 */
$color: red;