/**
 * @name Navigation
 * @usage div { @include navigation }
 * @import stylesheets/block
 *
 * <div>
 *     <ul>
 *         <li class="active">
 *             <a href="">Link 1</a>
 *         </li>
 *         <li>
 *             <a href="">Link 2</a>
 *         </li>
 *     </ul>
 * </div>
 */
@mixin navigation {
    @include block;
    padding-bottom: 0;
    ul, li {
        list-style: none;
        margin: 0;
    }
    li {
        display: inline-block;
        a {
            display: block;
            padding: 10px;
            margin: 0;
        }
        &.active a {
            background: #333;
            color: #fff;
        }
    }
}