/**
 * @component Body styling
 * @usage div { @include test }
 * <div>
 *     <span>The body</span>
 * </div>
 */
@mixin test {
	$color: red;
	background: $color;
	span {
		display: block;
		padding: 10px;
	}
}

body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}