@import 'colors';
@import 'sidebar';
@import 'block';
@import 'navigation';
@import 'typography';

body {
    background: #fafafa;
    padding: 20px;
    font-size: 13px;
}

.header {
    @include navigation
}
.block {
    @include block
}
.sidebar {
    @include sidebar
}
iframe {
    margin: 40px 0;
}
.footer {
    border-top: 1px solid #ddd;
    padding-top: 20px;
}